*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



 label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #49a078;
    color: dce1de;
    border: none;
    cursor: pointer;
    border-radius: 12px;
  }
  
  button:hover {
    background-color: #9cc5a1;
  }
  


/* navbar */

nav {
    background-color: #1f2421;
    padding: 20px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  
  nav a {
    text-decoration: none;
    color: #216869;
    font-weight: bold;
  }

  nav h1 {
    text-decoration: none;
    color: #9cc5a1;
    font-weight: bold;
  }

   .topmenu:hover {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    background-image: url('assets/tom-barrett.jpg');
    background-size: cover;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
 

/* social media icons styling */

.leftside{
    position: absolute;
    top: 25%;
}

.leftside li{
  list-styl-type: none;
  padding: 20px;
  transition: .6s;
  color: white;
  position: relative;
}

.leftside li i{
    font-size: 40px;
}


/* main is hte container holding everything else */
.main {
  position: relative;
  /* top right bottom left */
  margin: 5px 5px 5px 5px;
}

.upper-main{
  color: #9cc5a1;
  font-weight: bold;
  position: relative;
  /* top right bottom left */
  margin: 100px 500px 150px 250px;
}


/* for displaying the header next to the airplane */
.upper-main h1{
  color: #1f2421;
  font-size: 350%;
  /* to make text readable against background picture */
  backdrop-filter: blur(1px) saturate(75%);
}

.upper-main p{
  color:  #1f2421;
  font-size: 150%;
  margin: 0px 50px 50px 0px;
  /* to make text readable against background picture */
  backdrop-filter: blur(1px) saturate(75%);
}

  
  /* for displaying contacts in ful width */
.full-width{
  color: #9cc5a1;
  font-weight: bold;
  position: relative;
  /* top right bottom left */
  margin: 0px 50px 50px 250px;
} 



/* flex layout for welcome and search result next to each other */
.content-card  {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
} 


/* same for contacts */
.contacts {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: 120px 50px 100px 150px;
}

.contact-card{
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 30px;
  font-weight: normal;
  box-shadow: 0 3px 10px gray;
  backdrop-filter: blur(5px) saturate(60%);
}

.contact-card img{
  align-items: center;
  width: 150px;
  height: 200px; 
  object-fit: contain;
}

.contact-card h3{
  font-size: 70%;
  color:#1f2421;
  margin-block-start: 8px;
  margin-block-end: 5px;
}

.contact-card p{
  font-size: 50%;
  color:#1f2421;
  margin-block-start: 5px;
  margin-block-end: 5px;
}


/* contact form */
.contact-form{
  margin: 50px 50px;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 10px 20px;
}


.form-element{
  margin: 10px 10px;
}

#contactForm {
      max-width: 800px;
      margin: 0 auto;
}


#contactForm input,
#contactForm textarea {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
}

#contactForm button {
      padding: 18px 36px;
      background-color: #49a078;
      color: dce1de;
      border: none;
      font-weight: bold;
      font-size: 150%;
      cursor: pointer;
      border-radius: 26px;
      display: block; 
      margin: 0 auto;
} 

#contactForm button:hover {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
  }